.header {
    width: 1268px;
    height: 73px;
    gap: 0px;
    opacity: 0px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.logo {
    width: 142px;
    height: 42px;
    top: 22px;
    left: 41px;
    gap: 0px;
    opacity: 0px;
    color: black;
    font-family: DM Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 41.66px;
    text-align: center;
    margin-right: 1em;
    
}
.navItems {
    list-style: none;
    display: inline-block;
    padding: 0.2em 0.5em;
    transition-duration: 200ms;
}
