.btn {
    display: inline-block;
    padding: 8px 20px;
    color: white;
    width: 136px;
    transition-duration: 200ms;
    cursor: pointer;
    transition: box-shadow 0.3s, transform 0.3s;
    height: 45px;
    top: 11px;
    left: 979px;
    gap: 0px;
    border-radius:20px;
    opacity: 0px;
    text-align: center;
    color: #fff;
    border: none;
    
}
.btn:hover {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    
}
.btn:active {
    transform: translateY(2px);
}